* { 
    margin: 0;
    padding: 0;
}

body {
    background: green;
    overflow: hidden;
    font-family: poppins, Courier;
}

.container {
    max-width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.controls-group-top {
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: column-reverse;
    padding-bottom: 1rem;
    left: 0;
    right: 0;
    margin: 0;
    background: darkgreen;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.controls-group-bottom {
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: column-reverse;
    padding-bottom: 1rem;
    left: 0;
    right: 0;
    background: darkgreen;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 0;
}

.score h1 {
    color: #fff;
    margin: 0.5rem;
}

.btn {
    padding: 10px;
    background: #000;
    color: #fff;
    border-radius: 3px;
    min-width: 100px;
}

.btn-round {
    padding: 10px;
    background: #000;
    color: #fff;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 0.5rem;
    margin-top: 1rem;
}

.card-group {
    display: flex;
}

.card {
    width: 112.5px;
    height: 150px;
    background: #fff;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}

.number {
    font-size: 2rem;
}

.number-area {
    position: absolute;
    width: 35%;
    height: 28%;
    background: #fff;
    left: 15px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.score {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.money {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 0;
}

.money h1 {
    margin: 0;
}

#player-money {
    margin: 0;
}

.money-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-result {
    font-size: 8rem;
    margin: auto;
    position: absolute;
    padding: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 50%;
    max-height: 100%;
    color: red;
    z-index: 999;
    background: rgba(255,255,255,0.8);
    font-weight: bold;
    font-family: poppins, Courier;
    border-radius: 10px;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay h1 {
    color: #fff;
    margin: 1rem;
}

.inactive {
    display: none;
}